//font sizing
$root-font-size: 10px;
$body-font-size: 16px;

//font families
$main-font-family: 'Roboto', sans-serif;

//colors
$white: #FFF;
$gray: #E9E9E9;
$dark-gray: #dddddd;
$black: #000;
$red: #fe0000;
$dark-red: #c32b29;
$yellow: #ffce00;
$blue: #3B5998;
