//font sizing
$root-font-size: 10px;
$body-font-size: 16px;

//font families
$main-font-family: 'Roboto', sans-serif;

//colors
$white: #FFF;
$gray: #E9E9E9;
$dark-gray: #dddddd;
$black: #000;
$red: #fe0000;
$dark-red: #c32b29;
$yellow: #ffce00;
$blue: #3B5998;


//svg
$adarga-logo: url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy5
3My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNDUxLjIzIDYxNiI+PGRlZnM+PHN0eWxlPi
5jbHMtMXtmaWxsOiNmODBmMDA7fS5jbHMtMntmaWxsOiNmZmY7fTwvc3R5bGU+PC9kZWZzPjx0a
XRsZT5sb2dvX2FkYXJnYTwvdGl0bGU+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMTY1LjkxLDBz
LTEwLDE1My0xMTksMzA4Yy0xMDEuMjUsMTQ0LTI4LjA3LDMwOCwxMTksMzA4VjBaIiB0cmFuc2Z
vcm09InRyYW5zbGF0ZSgwKSIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTE2NCwwczEwLDE1My
wxMTksMzA4YzEwMS4yNSwxNDQsMjguMDcsMzA4LTExOSwzMDhWMFoiIHRyYW5zZm9ybT0idHJhb
nNsYXRlKDApIi8+PHBhdGggY2xhc3M9ImNscy0yIiBkPSJNNTEuNjUsMzg4UzAsNDcwLjY2LDUx
LjY1LDUzMy42OXMxMTcuNzksMzQuMSwxMTcuNzksMzQuMVM2NS4wOCw1MzMuNjksNTEuNjUsMzg
4WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCkiLz48cGF0aCBkPSJNNTI1LDM2OC44NGgtNTkuMm
wtMTEuNDgsMzguNjlINDA1LjU5bDY0Ljk0LTE5OS4wNmgyNC43NXYwLjE0bDAuMTQtLjE0aDI0L
jc1bDY1LjA4LDE5OS4wNkg1MzYuNTdabS00OC41NC0zNS41NWgzNy44N2wtMTguNTktNjEuOGgt
MC44MloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDApIi8+PHBhdGggZD0iTTU5Mi40Niw0MDcuNTN
WMjA4LjQ3aDcyLjg3cTM1LjE0LDAsNTguNzksMjIuOXQyMy42NSw1OC43MnYzNS44MnEwLDM2LT
IzLjY1LDU4Ljc5dC01OC43OSwyMi44M0g1OTIuNDZaTTYzOC42NywyNDRWMzcyaDI2LjY2cTE1L
jcyLDAsMjUuOTEtMTIuODV0MTAuMTktMzMuMjJWMjg5LjgxcTAtMjAuMS0xMC4xOS0zMi45NVQ2
NjUuMzMsMjQ0SDYzOC42N1oiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDApIi8+PHBhdGggZD0iTTg
2OS43LDM2OC44M0g4MTAuNUw3OTksNDA3LjUzSDc1MC4zNGw2NC45NC0xOTkuMDZIODQwdjAuMT
RsMC4xNC0uMTRoMjQuNzVMOTMwLDQwNy41M0g4ODEuMzJabS00OC41NC0zNS41NUg4NTlsLTE4L
jU5LTYxLjhoLTAuODJaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwKSIvPjxwYXRoIGQ9Ik05ODMu
NDIsMzMxLjI1djc2LjI5SDkzNy4yMVYyMDguNDZoNjkuMzJxMzQuNTksMCw1NC44MiwxNnQyMC4
yMyw0My43NXEwLDE1LjQ1LTguMTMsMjYuNTJ0LTI0LDE4cTE4LjMyLDUuMiwyNi4zMiwxNy4yOX
Q4LDMwLjE1djEyLjYzYTc5LjI4LDc5LjI4LDAsMCwwLDIuMzIsMTcuNzdxMi4zMiwxMCw4LjA3L
DE0LjIydjIuNzNoLTQ3LjcxcS01LjQ3LTQuMjQtNy4xMS0xNC45YTEzMi40OCwxMzIuNDgsMCww
LDEtMS42NC0yMC4xdi0xMnEwLTE0LjIyLTcuNTItMjEuNzR0LTIyLTcuNTJabTAtMzUuNTVoMjM
uMzhxMTQsMCwyMS4zMy02LjM2dDcuMzgtMTguMjVxMC0xMi4xNy03LjU5LTE5LjYydC0yMS40LT
cuNDVIOTgzLjQxVjI5NS43WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCkiLz48cGF0aCBkPSJNM
TI2NiwzODAuMDZxLTEwLjM5LDEyLjU4LTI5LjI2LDIxLjQ2dC00OC41NCw4Ljg5cS0zNy4wNSww
LTYwLjE2LTIyLjd0LTIzLjExLTU4LjkzVjI4Ny4yMnEwLTM2LDIyLjQ5LTU4Ljc5dDU3LjktMjI
uODNxMzguMTQsMCw1Ny42MywxN3QxOC44LDQ2LjU1bC0wLjI3LjgyaC00My4zNHEwLTE0LjYzLT
cuNzktMjEuNzR0LTIzLjUyLTcuMTFhMzEuMjYsMzEuMjYsMCwwLDAtMjYsMTIuNzFxLTkuODQsM
TIuNzEtOS44NCwzMy4wOXY0MS44NHEwLDIwLjc4LDkuNzgsMzMuNDN0MjcuNDEsMTIuNjVxMTIu
NzEsMCwyMC0yYTMyLjEsMzIuMSwwLDAsMCwxMS41NS01LjQ3VjMzMS43OGgtMzUuMjdWMzAxLjE
2SDEyNjZ2NzguODlaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwKSIvPjxwYXRoIGQ9Ik0xMzkwLj
kyLDM2OC44NGgtNTkuMmwtMTEuNDgsMzguNjloLTQ4LjY3bDY0Ljk0LTE5OS4wNmgyNC43NXYwL
jE0bDAuMTQtLjE0aDI0Ljc1bDY1LjA4LDE5OS4wNmgtNDguNjdabS00OC41NC0zNS41NWgzNy44
N2wtMTguNTktNjEuOGgtMC44MloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDApIi8+PC9zdmc+') center no-repeat;

$escud-logo: url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy5
3My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMzY1Ljk0IDU0MS43NCI+PGRlZnM+PHN0eW
xlPi5jbHMtMXtmaWxsOiMwNjAzMDM7fS5jbHMtMntmaWxsOiNmZGZkZmQ7fTwvc3R5bGU+PC9kZ
WZzPjx0aXRsZT5lc2N1ZDwvdGl0bGU+PGcgaWQ9IkxheWVyXzIiIGRhdGEtbmFtZT0iTGF5ZXIg
MiI+PGcgaWQ9IkxheWVyXzEtMiIgZGF0YS1uYW1lPSJMYXllciAxLTIiPjxwYXRoIGNsYXNzPSJ
jbHMtMSIgZD0iTTM3My41OSwxNjQuNzVjLTEwLjQxLTE2LjUxLTcuNjQtNDAuNzksNi4xLTUzLj
QybDAuNzEtLjY4LTAuMTEuMTFjMC42OC0uMSwxLjQtMC4xNSwxLjU3LTFIMzgxLjhjMC41MywwL
DEuMTQuMDcsMC45LS44MWgtMC4wNmE0LjM3LDQuMzcsMCwwLDAsMS40OSwwYzEwLjU1LTUuMjks
MjEuOTItNi43NCwzMy40OS03LjIyLDEyLjE2LDEuODYsMjIsOCwzMC43MiwxNi4zOCwxMi43NSw
xMi4yNSwyMywyNi4xMywyOC4zOSw0My4yNSwwLjI4LDAuODkuNzcsMS43MywwLjQyLDIuNzEtMy
4xLTQuNTItNi05LjE5LTkuMzUtMTMuNTItNy4xNy05LjI5LTE0Ljk0LTE4LTI1LjA4LTI0LjI1L
TEzLjU0LTguMy0yOC4wNy0xMC44NC00My4yOC02LTE1LDQuNzktMjMuMDksMTUuODYtMjUuNjgs
MzEuMThBNTQuODMsNTQuODMsMCwwLDAsMzczLjU5LDE2NC43NVoiIHRyYW5zZm9ybT0idHJhbnN
sYXRlKDAgMC4wMSkiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0yNDQuMzMsMTM2LjgyYzYuMj
gtMSw2LjE1LTEsNS41LTcuNDZxLTQuNjktNDYuODQtOS4yNi05My43YTExLjM5LDExLjM5LDAsM
CwxLC4wNi0xLjZjMy0uNzEsNC4wOS4zNSw0LjM4LDMuNTIsMS42LDE3Ljc3LDMuNDUsMzUuNTMs
NS4yLDUzLjI5cTIuNzMsMjcuNjQsNS40Myw1NS4yOGMwLjA4LDAuOC4xNiwxLjYsMC4yMiwyLjQ
xLDAuMzIsNC40Ni0yLjE5LDYuNDgtNi42Niw1LjU3LTEuNTgtLjMyLTEuMzUtMS40NC0xLjU3LT
IuMzlDMjQ2LjUxLDE0Ni43NywyNDUuNDMsMTQxLjc5LDI0NC4zMywxMzYuODJaIiB0cmFuc2Zvc
m09InRyYW5zbGF0ZSgwIDAuMDEpIi8+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNNzQ0LjQ2LDE1
MC4yYzIuNzgsMS40MSw1LjUxLS4wNSw4LjI0LTAuMjQsMS42My0uMTEuODYtMS42OSwwLjc2LTI
uNjItMi4xMS0xOS4wNy00LjI4LTM4LjE0LTYuMzktNTcuMjEtMC43NC02LjY2LTEuMzQtMTMuMz
MtMi0yMCwyLjY0LS44NSwzLjc2LTAuMSw0LjA4LDIuODgsMy4yMiwzMC4zLDYuNiw2MC41OCw5L
jg5LDkwLjg3LDAuMTMsMS4yMSwxLjUzLDMuMTgtMS4xMywzLjM2cy02LDIuNi03LjQ3LS44NkE5
Ny4xNyw5Ny4xNywwLDAsMSw3NDQuNDYsMTUwLjJaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIDA
uMDEpIi8+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNNDgyLDE3Ni4zOWM2LjEzLTEuMDYsNi4yNC
0xLjA3LDUuNTUtNy40LTIuMjMtMjAuNTUtNC41Ni00MS4wOS02LjgyLTYxLjYzLTAuMjMtMi4xM
y0uMzItNC4yNy0wLjQ3LTYuNCwyLjkyLS43OSwzLjg2LjMyLDQuMTgsMy4zNHE0LjUxLDQyLjc3
LDkuMzcsODUuNWMwLjIzLDIuMDkuMTYsMy41LTIuMzksMy4zMS0yLS4xNS00LjcsMi40Mi01LjU
0LTJDNDg0Ljg4LDE4Ni4xNSw0ODMuMjgsMTgxLjMsNDgyLDE3Ni4zOVoiIHRyYW5zZm9ybT0idH
JhbnNsYXRlKDAgMC4wMSkiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik03OTkuMDcsNTQuNzhjN
S40NS0uNjQsMTAuOTItMS4xNCwxNi4zNC0yLDIuNC0uMzcsMy4wNy41MSwzLjIyLDIuNjEsMC4z
Niw0LjkzLjgxLDkuODYsMS4yMiwxNC43OS01LjcuNjEtMTEuNDMsMS4xLTE3LjEsMS45MS0yLjE
4LjMxLTIuOTQtLjI4LTMtMi4zNEM3OTkuNjksNjQuNzcsNzk3LjgsNTkuODUsNzk5LjA3LDU0Lj
c4WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwLjAxKSIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZ
D0iTTExMDMuNTUsMzEuNThsMS41NCwxMy4yNWMtNS41OC41OC0xMS4xOCwxLjA2LTE2Ljc0LDEu
NzktMi4zNC4zMS0zLS41LTMuMjQtMi42OS0xLjE4LTEwLjExLTEuMjQtMTAuMTIsOC44Ny0xMS4
zOEMxMDk3LjE3LDMyLjE3LDExMDAuMzYsMzEuOTEsMTEwMy41NSwzMS41OFoiIHRyYW5zZm9ybT
0idHJhbnNsYXRlKDAgMC4wMSkiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik05NzkuNTgsMzQuN
jJjNS44LDUuMzIsNy41MiwxMi40MSw4LjYzLDE5Ljc3LTQuNjQtNS44OC0xMC42OC04LjMzLTE4
LjA4LTcuMjEtMS44Mi4yNy0yLjQ3LS40Ny0yLjYyLTIuMDhhMC45MywwLjkzLDAsMCwwLS4wNi0
wLjRjLTAuNDQtMTAtMi45MS04LjE3LDctOS4yOEM5NzYuMTUsMzUuMjMsOTc3Ljg2LDM0Ljg5LD
k3OS41OCwzNC42MloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgMC4wMSkiLz48cGF0aCBjbGFzc
z0iY2xzLTEiIGQ9Ik0zMiw4MC41NEMyNSw4MS4zLDE3LjkxLDgyLDEwLjksODIuODljLTIuMzIu
My0zLjE4LS40Mi0zLjM1LTIuNi0wLjM4LTQuOTMtLjgzLTkuODUtMS4yNS0xNC43Nyw3LS44Myw
xNC0xLjYxLDIxLTIuNTMsMi4zNi0uMzEsMy4zMy4yNSwzLjQ0LDIuODNDMzEsNzAuNzMsMzEuNT
csNzUuNjMsMzIsODAuNTRaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIDAuMDEpIi8+PHBhdGggZ
D0iTTQxNy42MiwxMDEuNzZjLTExLjU4LjQ5LTIzLDEuOTQtMzMuNDksNy4yMmEzLjczLDMuNzMs
MCwwLDEtMS40OSwwYzQuNjItNC42NSwxMC41Ny02LjM2LDE2Ljc1LTcuNDRTNDExLjU2LDEwMC4
yLDQxNy42MiwxMDEuNzZaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIDAuMDEpIi8+PHBhdGggZD
0iTTM4MS44NiwxMDkuNzNjLTAuMTcuODgtLjg5LDAuOTMtMS41NywxQTEuMzQsMS4zNCwwLDAsM
SwzODEuODYsMTA5LjczWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwLjAxKSIvPjxwYXRoIGQ9
Ik0zODIuNywxMDljMC4yNCwwLjg4LS4zNy43OS0wLjksMC44MUMzODEuNzMsMTA5LjA5LDM4Mi4
xMywxMDguOTMsMzgyLjcsMTA5WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwLjAxKSIvPjxwYX
RoIGQ9Ik0zODAuNCwxMTAuNjRsLTAuNzEuNjhaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIDAuM
DEpIi8+PHBhdGggY2xhc3M9ImNscy0yIiBkPSJNMjEyLjI4LDM1Ny42NWMtMS44Ny4wNi0zLS4y
My0zLjM1LTIuNjdhMjU0LjE2LDI1NC4xNiwwLDAsMC02LjE5LTMwLjc2Yy0wLjUtMS43Ny0xLjE
4LTMuNDktMS43OC01LjIzLTMuMTctMTMuNC05LjQyLTI1LjA2LTE5LjY4LTM0LjM3YTMxLjI4LD
MxLjI4LDAsMCwwLTI0LTguNWMtNS43Ni40Mi0xMS40OCwxLjMxLTE3LjI0LDEuNzEtMi45My4yL
TMuMzUsMS4zOC0zLjA3LDQsMiwxOS4xLDMuODMsMzguMjIsNS43MSw1Ny4zNHE3LjI2LDczLjc4
LDE0LjQxLDE0Ny41OGMwLjM0LDMuNjEsMS43MSwzLjg0LDQuNDMsMy4wNywxOC43Mi0xLjY3LDM
3LjMzLTQsNTUuMzktOS40Nyw4LjUyLTIuNiwxNS40Ny03LjQ5LDIxLjkzLTEzLjY4QzI1Ni4xLD
Q1MC4xLDI2Myw0MjkuMjQsMjY1LjcsNDA2LjI2YzIuNjQtMjIuMTUsNC4wNi00NC4zNyw0LjY5L
TY2LjY1LDAuMDktMy4yNCwxLjI4LTQuMjUsNC4zMi00LjY1LDguMDYtMS4wNiw4LTEuMTksOC42
NCw3LDAuMjQsMy4yMS42NSw2LjQxLDEsOS42MXExLjA2LDEwLjgzLDIuMTMsMjEuNjZjMy44OCw
zOS43MSw3LjcxLDc5LjQzLDExLjczLDExOS4xMiwwLjMyLDMuMjEtLjM3LDQuMDYtMy41LDQuMz
ktMjQsMi41OS00OC4wNyw1LjM2LTcyLjExLDguMDdxLTUyLjI5LDUuOTMtMTA0LjYsMTEuODItM
zMuMjMsMy43Ni02Ni40Niw3LjYyYy0zLjY3Ljg4LTQuNzQtLjcxLTQuOC00LjI5YTExNC44Niwx
MTQuODYsMCwwLDAtMS4zMS0xNC40NGMtMC4zOS0yLjY4LjA3LTMuODYsMy00LjEyLDcuMjItLjY
1LDE0LjQtMS43MiwyMS42Mi0yLjM1LDIuNi0uMjMsMy4zMS0wLjg1LDMtMy42MS0xLjM4LTEyLT
IuNDctMjQtMy42NS0zNi4wN1E2NS4yOCw0MTYuNyw2MS4xMiwzNzRxLTMuODctMzkuMjktNy44M
S03OC41OC0zLjg3LTM5LjA5LTcuNjktNzguMTgtMy44NS0zOS4zLTcuNjktNzguNlEzNSwxMDku
NTcsMzIsODAuNTRjLTAuNDMtNC45MS0xLTkuODEtMS4yMi0xNC43My0wLjExLTIuNTgtMS4wOS0
zLjE0LTMuNDQtMi44My03LC45Mi0xNCwxLjctMjEsMi41My0zLjQzLjY0LTQuNjUtLjg1LTQuNz
EtNC4yNHMwLTYuNTktMS42My05LjZWNDIuNzljNy40LDAuNDMsMTQuNjMtMS4xNywyMS45MS0yL
DI1LjUxLTIuNzMsNTEtNS42OSw3Ni40OC04LjU3TDE4MC4wNywyM2MxOC40Mi0yLDM2Ljg0LTQs
NTUuMjQtNi4yMSwyLjk1LS4zNSwzLjYxLjUsMy43NiwzLjI4LDAuMjUsNC42OCwxLDkuMzMsMS4
1NywxNGExMS4zOSwxMS4zOSwwLDAsMC0uMDYsMS42cTQuNjEsNDYuODUsOS4yNiw5My43YzAuNj
UsNi40OC43Nyw2LjQ3LTUuNSw3LjQ2LTIuNDkuMTgtMi41NC0xLjY3LTIuOTItMy4zOC0xLjc5L
TguMjEtMy4xNy0xNi41NC02LjUxLTI0LjM0YTY3LDY3LDAsMCwwLTEwLTIzLjU0Yy0xNi4wNS0y
My42My0zOC43NC0zNS42My02Ny4xNC0zNy4xMi0xMy4zOC0uNy0yNi41MywxLjMxLTM5LjczLDM
tMy4xNy40LTMuNjMsMS41MS0zLjM1LDQuM3E0LjU4LDQ1LjUsOSw5MWMzLjQ1LDM1LDcsNzAsMT
AuMjksMTA1LjA4LDAuMzEsMy4yOSwxLjM3LDQuMzQsNC40NSwzLjI3LDE3LjExLS40MywzMi4yM
S01LjYsNDItMjAuNDEsNi4xOC05LjM0LDkuMjItMjAuMiwxMC4xNS0zMS40NSwxLTEyLjc1LS4x
Mi0yNS41MS0wLjI0LTM4LjI2LDAtMi4zMy42NS0zLDIuNzEtMy4zNiw4LjI2LTEuNTYsOC4yMS0
xLjYxLDguOSw2Ljc2LDAuMjcsMy4zNC43OSw2LjY2LDEuMiwxMHEzLjM0LDM0LjQ3LDYuNjksNj
guOTVsMTAsMTAxLjgyYzAuNzEsNy4xNS44NCw3LjEzLTYsOC4xOUE4LjEzLDguMTMsMCwwLDAsM
jEyLjI4LDM1Ny42NVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgMC4wMSkiLz48cGF0aCBjbGFz
cz0iY2xzLTIiIGQ9Ik0xMTAzLjU1LDMxLjU4YzAuNTQtMy4zNy0uMzYtNC44Ny00LjI0LTQuMjM
tNS40Mi44OS0xMSwxLTE2LjM5LDEuOC0yLjY5LjM4LTMuNzItLjIxLTQuMS0zLTEuMzYtMTAtMS
40NC05Ljc4LDguNjMtMTAuODEsMjctMi43NSw1My45LTUuNzIsODAuODUtOC42cTI3LTIuODksN
TQtNS44MmMwLjg0LS4wOSwyLDAuMzcsMi40MS0wLjg4aDI3LjQ1YzIuODksMS41Myw2LjE2LDEu
MjYsOS4yMywxLjkzLDIzLjc2LDUuMTcsNDEuNTYsMTkuMzksNTYuNzksMzcuNCwxNi45MSwyMCw
yNC44Nyw0NC4yOSwzMi40OCw2OC43Mi0xLC4zOC0wLjM5LDEtMC4yNSwxLjU3LDYuNTgsMjkuMD
ksMTAuMzUsNTguNDYsOS4xMyw4OC4zNS0xLjEsMjYuOTMtNi43NSw1Mi43Mi0xOS40LDc2LjcyL
TE3Ljc4LDMzLjczLTQ1LDU0Ljg0LTgzLDYwLjI4LTI2LjMzLDMuNzctNTIuODgsNi03OS4zMyw4
Ljg4LTExLjg4LDEuMzEtMjMuNzYsMi42OC0zNS42Myw0LTguNi4yNS0xNy4xLDEuNTctMjUuNjM
sMi41MS0yLjc3LjMtNC4yNSwwLTQuMTUtMy4zNXMtMi4xLTcuMzctLjMxLTkuNzcsNi4yNS0xLj
I1LDkuNTItMS43MmExMDYuODIsMTA2LjgyLDAsMCwxLDExLjIxLTEuMjFjMi42Mi0uMSwzLjQyL
TAuODYsMy4xLTMuNTYtMS41NS0xMy4zNC0yLjktMjYuNy00LjM0LTQwcS0zLjg1LTM1Ljg0LTcu
NzItNzEuNjgtMy45MS0zNi40NC03LjgtNzIuODktMy43OC0zNS40NC03LjU1LTcwLjg5Yy0xLjA
5LTEwLjE0LTIuMjQtMjAuMjgtMy4zNi0zMC40MlptMTE1LjY0LTEyLjM0Yy0xLjkxLTEuMDYtNC
0xLjE5LTYuMTMtMS41My0xMC43MS0xLjcyLTIxLDEuNy0zMS41NSwyLjI3LTMsLjE2LTIuOSwxL
jQ0LTIsMy41LDAsMS4wNywwLDIuMTUuMDksMy4yMXE3LjQ4LDcxLjUzLDE1LDE0My4wNSw3Ljc3
LDczLjk0LDE1LjUyLDE0Ny44OGMwLjM1LDMuMzUsMS41Niw0LjU2LDQuNzgsMy41NywzLjY1LDA
uMzksNy4yMy0uMzksMTAuODMtMC43MywyMi0yLjA4LDM3LjI5LTEyLjY5LDQ1LjQ1LTM0LDctMT
guMTgsOC4xMi0zNi44Myw3LjUzLTU1LjgyLTAuNjktMjIuMTUtMy4xNC00NC4xNy01LjUzLTY2L
jE5LTMtMjcuMzUtNi4wOS01NC42OS0xMi4yNy04MS41NS0xLjYxLTctMi43LTE0LjIxLTYuNDUt
MjAuNTZhNi4xNiw2LjE2LDAsMCwwLDAtMmMtMy40MS05LjYyLTcuNS0xOC45MS0xNC4wNi0yNi4
4NC01LjY1LTYuNzYtMTIuMjgtMTIuMjQtMjEuMjEtMTQuMjVoMFoiIHRyYW5zZm9ybT0idHJhbn
NsYXRlKDAgMC4wMSkiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xMTQyLjEyLDM0Ny44NmMxM
S44OC0xLjM0LDIzLjc1LTIuNzEsMzUuNjMtNCwyNi40NS0yLjkyLDUzLTUuMTEsNzkuMzMtOC44
OCwzOC01LjQ0LDY1LjI3LTI2LjU1LDgzLTYwLjI4LDEyLjY2LTI0LDE4LjMxLTQ5Ljc5LDE5LjQ
tNzYuNzIsMS4yMi0yOS44OS0yLjU2LTU5LjI3LTkuMTMtODguMzUtMC4xNC0uNjEtMC43NC0xLj
E4LjI1LTEuNTcsMS4yMSwwLjY3LDEuMjksMiwxLjY0LDMuMDgsNS42MiwxOCw4LjkyLDM2LjQ4L
DExLjM1LDU1LjE1LDAuODcsNi43My44LDEzLjU3LDIuMzUsMjAuMjJ2MzQuNzJjLTAuODEsNS43
OS0xLjUyLDExLjU5LTIuNDMsMTcuMzYtNC43OSwzMC4xOS0xNS40OCw1Ny44LTM2LjMzLDgwLjc
tMTcuNzUsMTkuNDktNDAuMjksMzAuMjQtNjYuMTksMzMuNDItMzAuNjUsMy43Ni02MS40MSw2Lj
Y1LTkyLjEyLDkuOTEtMTUuNjIsMS42Ni0zMS4yNiwzLjIxLTQ2Ljg2LDUtMi41Ny4zLTMuMDktL
jI5LTMuNDMtMi42OC0xLjYtMTEuMjEtMS42OC0xMS4xOCw5Ljc0LTEyLjIsMy42MS0uMzIsNy4y
LTEsMTAuODEtMS4xN0MxMTQxLjg1LDM1MS40MywxMTQyLjc2LDM1MC4zOCwxMTQyLjEyLDM0Ny4
4NloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgMC4wMSkiLz48cGF0aCBjbGFzcz0iY2xzLTEiIG
Q9Ik01My4yOCw1NDEuNzJsLTEuNy0xNy40M0wxMTgsNTE2LjY3cTUyLjI2LTUuOTIsMTA0LjU0L
TExLjc4YzI0LTIuNzEsNDguMDYtNS40OCw3Mi4xMS04LjA3LDMuMTMtLjM0LDMuODItMS4xOSwz
LjUtNC4zOXEtNi01OS41NS0xMS43My0xMTkuMTItMS4wNi0xMC44My0yLjEzLTIxLjY2YzMuMDc
tMS4xMyw0LjE3LDAsNC40NiwzLjIsMS44OSwyMC40NywzLjksNDAuOTMsNS45MSw2MS4zOXEzLj
Q1LDM1LjEsNyw3MC4yYzAuODEsOC4xNSwxLjUzLDE2LjMyLDIuNDcsMjQuNDYsMC4yOCwyLjQzL
S43LDMtMi44LDMuMjVxLTM3LjI2LDQuMDgtNzQuNTEsOC4yNWMtMjUuMSwyLjgyLTUwLjE5LDUu
NzMtNzUuMjksOC41NS0yMi43LDIuNTYtNDUuNDEsNC45NC02OC4wOSw3LjY1LTcuNjQuOTEtMTU
uNDIsMC45NC0yMi44OSwzLjEzSDUzLjI4WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwLjAxKS
IvPjxwYXRoIGNsYXNzPSJjbHMtMiIgZD0iTTkxOS40NCwzMTQuMzFjNi41NiwyOS4yMyw0MC4zN
iw0MSw2My43NiwyMiwxMy0xMC41NCwxOS42LTI0Ljk0LDIzLjU0LTQwLjc1LDQuMjMtMTcsMy4x
NS0zNC4xLDEuMzQtNTEuMjgtMi40Ny0yMy4zOC00LjY3LTQ2Ljc5LTctNzAuMTlMOTkzLjMsOTU
uNDZjLTEuMy0xMy0yLjA3LTI2LTQuMzMtMzguODRhMTQuNTgsMTQuNTgsMCwwLDAtLjc3LTIuMj
NjLTEuMTEtNy4zNi0yLjgzLTE0LjQ2LTguNjMtMTkuNzctMy42OC00LjcxLTguOTEtNS4yMi0xN
C4yMS00Ljc4LTMuMTMuMjYtMy44My0uNzEtMy45My0zLjY0Qzk2MS4xNywxOSw5NjEsMTguOTEs
OTY4LDE4LjA5YzE3LjItMiwzNC40Mi0zLjg2LDUxLjYzLTUuODYsMi0uMjMsMi43NC4zNiwyLjU
5LDIuMjhhMiwyLDAsMCwwLDAsLjRjMSw3LjUyLDEsNy41MS02LDkuOTUtMy44NCwxLjM1LTcuND
UsMy05LjcyLDYuNjgtNC4yNSw0LjI4LTUuMTQsOS41LTQuMywxNS4yMyw0LjUzLDMxLDYuNzEsN
jIuMjMsOS45Miw5My4zNiwzLjkxLDM3Ljk1LDcuNTUsNzUuOTIsMTEuMTYsMTEzLjksMS43LDE3
LjksMS4yNCwzNS43NS0zLjg2LDUzLjEzLTguNzMsMjkuNzMtMjYuNDMsNTEuNTYtNTYuODMsNjA
uODEtMjAuMDYsNi4xMS00MC43OSw2LjQ1LTYxLjUsMy41My0xMy41NC0xLjkxLTI1LjQ0LTcuMz
gtMzUtMTcuNTUtNC00LjI1LTYuNzQtOS4zNC0xMC4yNS0xMy45YTE2My41MSwxNjMuNTEsMCwwL
DEtMTMuMDYtNDQuNDljLTMuNzEtMjUuNDEtNS40OC01MS04LjA5LTc2LjU2LTIuOS0yOC4zNC01
LjYtNTYuNy04LjQtODUuMDZxLTMtMzAuNjktNi4xMS02MS4zOGMtMC4wOC0uNzktMC4yNy0xLjU
3LTAuNDEtMi4zNi0wLjQxLTQuOTMtLjg2LTkuODYtMS4yMi0xNC43OS0wLjE1LTIuMTEtLjgyLT
MtMy4yMi0yLjYxLTUuNDIuODQtMTAuODksMS4zNC0xNi4zNCwyLTUuMTMuMS01LjExLDAuMS01L
jUxLTUuMzVhODEsODEsMCwwLDAtLjg0LTguNDJjLTAuNDYtMi41My41LTMuMTksMi44NS0zLjQ1
LDEyLjU2LTEuMzUsMjUuMS0yLjg4LDM3LjY2LTQuMjgsMjUuMzgtMi44NCw1MC43Ni01LjYxLDc
2LjEzLTguNTMsMi4xOC0uMjUsMy4xMy0wLjExLDMuMjEsMi4zNmE4MC43Nyw4MC43NywwLDAsMC
wxLDEwLjQyYzAuMzksMi4zMS0uNSwyLjY4LTIuNSwyLjg5LTYuNTUuNjctMTMuMDgsMS41Ni0xO
S42MSwyLjM2LTEuMzkuMTctMy4yOC0uMjItMi41MywyLjNhNCw0LDAsMCwwLS4wOC44cTUuNzQs
NTguNzIsMTEuNDksMTE3LjQ0LDUuODgsNTkuNzIsMTEuODYsMTE5LjQzQzkxMy4zMywyOTMuNTQ
sOTE1LjA2LDMwNC4yNCw5MTkuNDQsMzE0LjMxWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwLj
AxKSIvPjxwYXRoIGNsYXNzPSJjbHMtMiIgZD0iTTM1Ny4zMSw0NDAuMjVjLTMuMTQuNTctNC4zN
C0uMi00LjY4LTMuOTItMi42Mi0yOC43Ni01LjYxLTU3LjUtOC40Ny04Ni4yNC0wLjQ0LTQuNDEt
LjY1LTguODUtMS4yNS0xMy4yNC0wLjMxLTIuMjUuMTYtMy4zNywyLjUzLTMuMzFzNC45MS0xLjU
5LDUuNzgsMi41OGExMzcuMTIsMTM3LjEyLDAsMCwwLDEwLjQyLDMxLjExYzEwLjc2LDIyLjUzLD
I2Ljg5LDQwLDQ5LjQxLDUxLjE1LDEyLjgsNi4zMywyNi4xMiw2LjQ1LDM5LjU4LDIuMTIsMTUuO
TEtNS4xMiwyMy4yMi0xNy43NSwyOC0zMi40MmE0MS4zOCw0MS4zOCwwLDAsMCwwLTI3LjI3YzAt
Ljc2LjMxLTEuNjYtMC43Ni0ybDAsMC4wOWMtMy4zMi0xNC4wNy05LjE1LTI2LjE3LTIzLjUyLTM
yLjM4LTE4LjctOC4wOC0zNy4zMy0xNi4zNS01NS0yNi41NS0xNS04LjY2LTI5LjYzLTE3Ljg5LT
QxLjU1LTMwLjgtNS01LjQ2LTguMjgtMTIuMDktMTIuMzMtMTguMTktNS4zNS0xMy43NC05Ljg3L
TI3LjY5LTEyLjQxLTQyLjI5LTQuNy0yNy4wOS0xLjE4LTUyLjkyLDExLTc3LjYsNS41NC0xMS4y
NywxMS42OS0yMi4xMSwyMS4yOC0zMC41NCwyMC42OC0xOC4xOCw1Mi42OC0yMS4xNSw3Ni4yNy0
2LjkyLDcuMjMsNC4zNiwxNC4xNSw5LjIzLDIxLjY0LDE0LjE0LDEuNjctNi44NSwzLjI1LTEzLj
Q0LDQuOTEtMjAsMC4zNC0xLjMzLDAtMy4yNSwxLjg3LTMuNjJhMzMuNTQsMzMuNTQsMCwwLDEsN
y4yLS43M2MxLDAsLjcyLDEuNTYuODQsMi40NCwwLjcxLDUsMS4zOCwxMC4wOCwyLjA2LDE1LjEx
LDAuMTUsMi4xNC4yNCw0LjI4LDAuNDcsNi40LDIuMjcsMjAuNTQsNC42LDQxLjA4LDYuODIsNjE
uNjMsMC42OSw2LjMzLjU3LDYuMzQtNS41NSw3LjQtMS42My0uMTItMS40OC0xLjQ1LTEuODMtMi
41NS0xLTMuMjQtMS4xNC02Ljc2LTMtOS43NCwwLjM1LTEtLjE0LTEuODItMC40Mi0yLjcxLTUuM
zUtMTcuMTItMTUuNjUtMzEtMjguMzktNDMuMjUtOC42OC04LjM0LTE4LjU2LTE0LjUyLTMwLjcy
LTE2LjM4LTYuMDYtMS41Ni0xMi4xNi0xLjI1LTE4LjIzLS4xOXMtMTIuMTMsMi43OS0xNi43NSw
3LjQ0aDAuMDZjLTAuNTcsMC0xLC4xMi0wLjkuODFoMC4wNmExLjM1LDEuMzUsMCwwLDAtMS41Ny
wxbDAuMTEtLjExLTAuNzEuNjhjLTEzLjc0LDEyLjYzLTE2LjUxLDM2LjkyLTYuMSw1My40MkEyM
y4zNiwyMy4zNiwwLDAsMCwzODQsMTc2LjA3YzEzLjA4LDcuNTYsMjcuMTEsMTIuOTIsNDEuMzQs
MTcuNzUsMTUuMjYsNS4xNywzMC4zLDEwLjc0LDQ0LjU5LDE4LjMyLDIwLjE2LDEwLjY5LDMzLjU
2LDI2LjQ1LDM4LDQ5LjE4LDAuMjYsMS4zMS41LDIuNjMsMC43NSw0LDAuNDcsMi4xOSwxLDQuMz
csMS40LDYuNTksMywxNy41Miw0LDM1LjI1LDUuNTIsNTIuOTEsMS40OSwxNy41LjkxLDM1LTQuN
TgsNTEuODUtNy4yMywyMi4xOC0xOC42Nyw0MS4zNi00MC4zMiw1Mi42LTAuNjYuMjQtMS41OSww
LTEuNzcsMS4wOGgwYTguNzgsOC43OCwwLDAsMC0xLjk0LjIzYy0xMi43Miw0LjQ3LTI1Ljc1LDU
uNDctMzkuMTEsNC4wOC03LjA4LS43NC0xMy44Mi0yLjg4LTIwLjcyLTQuMzMtMTAuNi00LjQ5LT
IxLjIzLTguOTItMzEuNi0xNC40MS0xLjQ1LDQuMjYtMy40Miw4LjIyLTQuMDgsMTIuMzlDMzcwL
jI4LDQzNi42NSwzNjUuOTMsNDQwLjgxLDM1Ny4zMSw0NDAuMjVaIiB0cmFuc2Zvcm09InRyYW5z
bGF0ZSgwIDAuMDEpIi8+PHBhdGggY2xhc3M9ImNscy0yIiBkPSJNNzQ0LjQ2LDE1MC4yYzAuMDY
tMS42Ny0xLjItMi43Ni0xLjg0LTQuMTMsMC41LTEuMy0uMzItMi4zNy0wLjczLTMuNDVhMzU0Lj
I0LDM1NC4yNCwwLDAsMC0xNS0zNC4yNmMtNS4zOC0xMC41OS0xMi4zOC0xOS43LTIyLjEtMjYuN
zMtMTcuMzctMTIuNTUtNDAuNjctMTIuMTItNTUuNDMsMS40My04LjQxLDcuNzItMTIuODMsMTcu
ODEtMTUuNjMsMjguNi01LjY2LDIxLjg1LTcuMTIsNDQuMjItNy41OCw2Ni42OC0wLjUxLDI1LjQ
yLDEuMzEsNTAuNzIsNC4yMyw3NmE2OTgsNjk4LDAsMCwwLDE2LjI0LDg5LjA3YzAuNTMsMi4xMi
43OCw0LjQ1LDIuMjksNi4yNiw1LjY0LDE4LjM1LDE3LDMxLjQ0LDM0Ljg4LDM5LDYuMzgsMi42O
SwxMi41MiwyLjI2LDE4LjkuOTRDNzI0Ljg2LDM4NSw3MzkuMTIsMzcxLDc0OC40MSwzNTEuMmM4
LjIxLTE3LjUsMTEuNDYtMzYuMjYsMTMuNy01NS4yNSwwLjM5LTMuMzQuNzktNi42OCwxLTEwLDA
uMTYtMi44LDEuMjgtMy40NCw0LjA4LTMuMTIsOS41NCwxLjEsOS41NCwxLDkuMzYsMTAuODQsMC
wyLjI3LS42Niw0LjU0LDAsNi44Mi0wLjIyLDEuNDUtLjUzLDIuODktMC42NCw0LjM1LTEuOTIsM
jQuNzgtOS4zNiw0Ny42LTI0LjEsNjcuODItMC41Ny41NC0xLjQsMC45NC0xLDJ2LTAuMDhhMy4x
NywzLjE3LDAsMCwwLTEsLjQ2Yy0xMS44NiwxNC4zNi0yNiwyNS42My00My42OCwzMmExMTEuODk
sMTExLjg5LDAsMCwxLTE5LDMuNWMtMjcuNiwyLjM3LTUyLjQzLTQuMjUtNzMuNjMtMjIuNi0xNS
4zNy0xMy4zLTI2LjIyLTMwLTM1LjY1LTQ3Ljc2LTEuODEtMy40LTMtNy4xMy01LjQ3LTEwLjE2L
TUuMzQtMTQuMzctMTAuODEtMjguNy0xNC00My43NC05Ljc0LTQ1LjA2LTExLjA4LTkwLDEuOTQt
MTM0Ljc1LDcuMjctMjUsMTguNjMtNDcuNzYsMzcuNDItNjYuMjVDNjEyLjI2LDcxLDYyOS4xLDY
wLjUyLDY0OS41MSw1Ni44N2MyNy4zNC00Ljg5LDUyLjctLjksNzQuNzEsMTcuMzVhMTAuODEsMT
AuODEsMCwwLDAsMS4zMS45Myw0LjE5LDQuMTksMCwwLDAsLjk0LjI2QTExOC40LDExOC40LDAsM
CwwLDczMyw1NS45MmMwLjUtMiw4LTQuNTcsOS40Mi0zLjEyLDAuNTUsMC41Ni41NSwxLjcxLDAu
NywyLjYsMC44LDQuODkuNzIsOS45LDIsMTQuNzIsMC42Niw2LjY3LDEuMjYsMTMuMzQsMiwyMCw
yLjExLDE5LjA3LDQuMjgsMzguMTQsNi4zOSw1Ny4yMSwwLjEsMC45My44OCwyLjUxLS43NiwyLj
YyQzc1MCwxNTAuMTQsNzQ3LjI0LDE1MS42MSw3NDQuNDYsMTUwLjJaIiB0cmFuc2Zvcm09InRyY
W5zbGF0ZSgwIDAuMDEpIi8+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNODU1LjkzLDM0MC4wNmMz
LjUyLDQuNTYsNi4yOCw5LjY1LDEwLjI1LDEzLjksOS41MSwxMC4xNywyMS40MSwxNS42NCwzNSw
xNy41NSwyMC43LDIuOTIsNDEuNDQsMi41Nyw2MS41LTMuNTMsMzAuNC05LjI1LDQ4LjExLTMxLj
A4LDU2LjgzLTYwLjgxLDUuMS0xNy4zOCw1LjU3LTM1LjIzLDMuODYtNTMuMTMtMy42MS0zOC03L
jI2LTc2LTExLjE2LTExMy45LTMuMi0zMS4xMy01LjM5LTYyLjM3LTkuOTItOTMuMzYtMC44NC01
LjczLDAtMTEsNC4zLTE1LjIzLDYuMjgtLjYxLDEyLjU4LTEuMTIsMTguODQtMS45LDItLjI1LDI
uNzQuMzksMi44NSwyLjIxLDAsMC40LjA4LDAuOCwwLjEyLDEuMiwwLjczLDYuODguNzMsNi44OC
01Ljc0LDguOTMtMTAuMTYsMy4yMi0xNS41MiwxMC44OC0xNC40MiwyMS43MywxLjM2LDEzLjUsM
y4zMiwyNi45Myw0LjUzLDQwLjQ1LDEuNjEsMTcuOTMsMy41NCwzNS44NCw1LjMxLDUzLjc2LDIu
MjksMjMuMTMsNC43Miw0Ni4yNSw2LjgsNjkuNCwxLjg4LDIwLjg3LDUuMyw0MS42NCw1LjEyLDY
yLjY1LTAuMiwyMy40Mi01LjIxLDQ1LjU5LTE5LjI0LDY1LTE1LDIwLjgyLTM1Ljc4LDMxLjQ5LT
YxLDM0LjA5LTE0Ljg3LDEuNTMtMjkuNzIsMi4xNS00NC41OC0uNTMtMjAuMy0zLjY2LTM0Ljc3L
TE0Ljg0LTQzLjgzLTMzLjE4LTIuMDgtNC4yLTMuNjYtOC42NS01LjU2LTEyLjk0QTIsMiwwLDAs
MSw4NTUuOTMsMzQwLjA2WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwLjAxKSIvPjxwYXRoIGN
sYXNzPSJjbHMtMSIgZD0iTTc1MS43NywzNzIuNjJjMTQuNzQtMjAuMjIsMjIuMTktNDMsMjQuMS
02Ny44MiwwLjExLTEuNDYuNDItMi45LDAuNjQtNC4zNSw1LjY0LDAuMzYsNS42MS4zNiw1LjY3L
DYsMC4zNSwyOC40Ni01LjM0LDU1LjM3LTIxLjY5LDc5LjEyLTEzLjIxLDE5LjItMzAuMDgsMzQu
NTUtNTMuNDMsMzkuNzEtNDAuNTMsOS03NS0yLjA3LTEwMS42Ni0zNC41MS0xNC4zOC0xNy40OC0
yNC44Ny0zNy4yNS0zMi42NC01OC40N2ExMS45NCwxMS45NCwwLDAsMS0uMzctMi4zM2MyLjQ4LD
MsMy42Niw2Ljc3LDUuNDcsMTAuMTYsOS40NCwxNy43NSwyMC4yOCwzNC40NiwzNS42NSw0Ny43N
iwyMS4yMSwxOC4zNSw0NiwyNSw3My42MywyMi42YTExMS45MywxMTEuOTMsMCwwLDAsMTktMy41
LDE1LjIsMTUuMiwwLDAsMCw2LS45cTI2LjMyLTcuMiwzOC42OS0zMS41NHYwLjA4QTIsMiwwLDA
sMCw3NTEuNzcsMzcyLjYyWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwLjAxKSIvPjxwYXRoIG
NsYXNzPSJjbHMtMSIgZD0iTTM1Ny4zMSw0NDAuMjVjOC42MiwwLjU1LDEzLTMuNjEsMTQuMjktM
TIsMC42NS00LjE3LDIuNjMtOC4xMyw0LjA4LTEyLjM5LDEwLjM3LDUuNDksMjEsOS45MiwzMS42
LDE0LjQxLDE2LjkxLDExLjYsMzQuODMsMTMuODMsNTMuNzcsNS42MiwzLTEuMjksNi4yNC0yLjQ
0LDgtNS42aDBjMSwwLjIzLDEuMzgtLjM5LDEuNzctMS4wOCwyMS42NS0xMS4yMywzMy4xLTMwLj
QyLDQwLjMyLTUyLjYsNS40OS0xNi44NSw2LjA3LTM0LjM1LDQuNTgtNTEuODUtMS41MS0xNy42N
y0yLjU0LTM1LjQtNS41Mi01Mi45MS0wLjM4LTIuMjEtLjkzLTQuMzktMS40LTYuNTksMi4yLDAu
MDgsMS44MiwyLjExLDIuMjIsMy4yOCw0LDExLjYyLDUuOTIsMjMuNzIsNy4xNSwzNS44OCwxLjU
5LDE1Ljc3LDMuNTEsMzEuNTQsNCw0Ny40LDAuNzcsMjguMzUtNS4zNSw1NC42MS0yMy43MSw3Ny
4yNC0xMS43OSwxNC41NC0yNy4xMiwyMS4zLTQ1LjMyLDIzLjA5LTIyLjkxLDIuMjUtNDMuNDEtN
S4xNS02My40MS0xNS0yLjYxLTEuMjgtNS41LTQuMjUtNy44NC0zLjE2LTEuODEuODQtMi4xNSw0
Ljg4LTMuMDgsNy41MmE3Ni4zMSw3Ni4zMSwwLDAsMC0zLjI1LDkuOTRjLTAuNzgsMy44OS0zLDU
uMTgtNi42Myw1LjM0LTMuMDcuMTQtNi43NiwxLjctOSwuNDgtMi42MS0xLjQtMS4wOC01LjY1LT
EuNjQtOC42MkE2OSw2OSwwLDAsMSwzNTcuMzEsNDQwLjI1WiIgdHJhbnNmb3JtPSJ0cmFuc2xhd
GUoMCAwLjAxKSIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTY0OSwzNDkuNjRjLTEuNTEtMS44
MS0xLjc2LTQuMTQtMi4yOS02LjI2YTY5OCw2OTgsMCwwLDEtMTYuMjQtODkuMDdjLTIuOTItMjU
uMjUtNC43NC01MC41NC00LjIzLTc2LDAuNDUtMjIuNDYsMS45Mi00NC44Myw3LjU4LTY2LjY4LD
IuNzktMTAuNzgsNy4yMi0yMC44OCwxNS42My0yOC42LDE0Ljc2LTEzLjU1LDM4LjA2LTE0LDU1L
jQzLTEuNDMsOS43Miw3LDE2LjcxLDE2LjE0LDIyLjEsMjYuNzNhMzU0LjI0LDM1NC4yNCwwLDAs
MSwxNSwzNC4yNmMwLjQxLDEuMDgsMS4yMywyLjE1LjczLDMuNDUtNC4yOS04LjQ5LTcuODctMTc
uMzEtMTIuNi0yNS42MUE2NS4yOCw2NS4yOCwwLDAsMCw3MDYuNSw5Ni4xNGMtMjIuODUtMTMuNi
01MC4wNy01LjI3LTYxLjU5LDE4LjY2LTUuNSwxMS40Mi03Ljc5LDIzLjY3LTkuNDUsMzYuMDctN
S41NCw0MS40NS0zLjc0LDgyLjgxLDEuMzIsMTI0LjE4LDIuNTMsMjAuNjcsNi4yNyw0MS4xMiwx
MCw2MS41OUM2NDcuNDgsMzQxLDY0OS45NCwzNDUsNjQ5LDM0OS42NFoiIHRyYW5zZm9ybT0idHJ
hbnNsYXRlKDAgMC4wMSkiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xMzguMzcsMjU1LjA3Yy
0zLjA4LDEuMDctNC4xMywwLTQuNDUtMy4yNy0zLjM0LTM1LTYuODQtNzAuMDUtMTAuMjktMTA1L
jA4cS00LjQ4LTQ1LjUxLTktOTFjLTAuMjgtMi43OC4xOC0zLjksMy4zNS00LjMsMTMuMi0xLjY2
LDI2LjM2LTMuNjcsMzkuNzMtMywyOC40LDEuNDksNTEuMDgsMTMuNSw2Ny4xNCwzNy4xMmE2Nyw
2NywwLDAsMSwxMCwyMy41NGMtMy4zNC00LTUuMzQtOC45My04Ljc5LTEyLjkxLTE1LjI5LTE3Lj
Y3LTM0LjI5LTI4LTU3Ljc0LTMwLjEyQzE1Myw2NC42NCwxMzgsNjYuOSwxMjMsNjguNzljLTIuM
TYuMjctMi44OSwxLjE1LTIuNjYsMy40MXEzLjkyLDM4LjI4LDcuNjgsNzYuNTcsMywzMC4yNyw1
LjkzLDYwLjU1UTEzNi4yLDIzMi4yLDEzOC4zNywyNTUuMDdaIiB0cmFuc2Zvcm09InRyYW5zbGF
0ZSgwIDAuMDEpIi8+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMTYxLjUxLDQ4OS44NWMtMi43Mi
43Ny00LjA5LDAuNTQtNC40My0zLjA3cS03LTczLjgxLTE0LjQxLTE0Ny41OEMxNDAuNzksMzIwL
jA5LDEzOSwzMDEsMTM3LDI4MS44N2MtMC4yOC0yLjY3LjE0LTMuODQsMy4wNy00LDUuNzYtLjM5
LDExLjQ4LTEuMjksMTcuMjQtMS43MWEzMS4yOCwzMS4yOCwwLDAsMSwyNCw4LjVjMTAuMjYsOS4
zMSwxNi41MSwyMSwxOS42OCwzNC4zNy0xLjc2LTEuMTktMi4zNC0zLjIyLTMuMzktNC44OS0xMC
4xOC0xNi4yMi0yNC4zMS0yMy43NC00My42My0yMC4wNmE2My44NCw2My44NCwwLDAsMS04LjM3L
DEuMTZjLTIuNS4xNC0zLjA4LDEuMS0yLjgzLDMuNTEsMS4zMSwxMi41NSwyLjQyLDI1LjEyLDMu
NjYsMzcuNjdxMywzMC44Niw2LjE1LDYxLjdsNyw3MC41MUMxNjAuMjMsNDc1LjY4LDE2MC44Niw
0ODIuNzcsMTYxLjUxLDQ4OS44NVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgMC4wMSkiLz48cG
F0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0zNDUuNiwyNTFjNCw2LjEsNy4yOSwxMi43MiwxMi4zMywxO
C4xOSwxMS45MSwxMi45LDI2LjUyLDIyLjEzLDQxLjU1LDMwLjgsMTcuNjgsMTAuMTksMzYuMzIs
MTguNDYsNTUsMjYuNTUsMTQuMzcsNi4yMSwyMC4yLDE4LjMxLDIzLjUyLDMyLjM4LTYuNzItMTE
uNS0xOC41Ny0xNS41Ny0yOS43OS0yMC41Mi0yMi41LTkuOTEtNDQuMzctMjAuOTItNjQuNzQtMz
QuODMtMTguMTktMTIuNDEtMzAuOTItMjguNzQtMzcuMzctNDkuODVBMjQuNzEsMjQuNzEsMCwwL
DEsMzQ1LjYsMjUxWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwLjAxKSIvPjxwYXRoIGNsYXNz
PSJjbHMtMSIgZD0iTTkxOS40NCwzMTQuMzFjLTQuMzgtMTAuMDYtNi4xMS0yMC43Ni03LjItMzE
uNTVxLTYtNTkuNy0xMS44Ni0xMTkuNDMtNS43OC01OC43Mi0xMS40OS0xMTcuNDRhNCw0LDAsMC
wxLC4wOC0wLjhjOC44LTEsMTcuNjEtMiwyNi40MS0zLjEzLDIuMjktLjI5LDMuMTMuNTQsMy4yN
SwyLjc3YTgwLDgwLDAsMCwwLC45Myw5LjIyYzAuNDksMi44OC0uNzMsMy43My0zLjM2LDQtNi4x
NS41OC0xMi4yOCwxLjQxLTE4LjQzLDItMi4zNS4yNS0zLjQ0LDEtMy4xNSwzLjc0cTUuNjEsNTU
uMzQsMTEsMTEwLjY5YzMuMSwzMS42OSw2LDYzLjQsOS4yNSw5NS4wNywxLjQsMTMuNzYsMi4yLD
I3LjU5LDQuNTgsNDEuMjVBMjAuMTIsMjAuMTIsMCwwLDEsOTE5LjQ0LDMxNC4zMVoiIHRyYW5zZ
m9ybT0idHJhbnNsYXRlKDAgMC4wMSkiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0yMTIuMjgs
MzU3LjY1YzAuNTItLjEzLDEtMC4yOSwxLjU1LTAuMzgsNi44My0xLjA2LDYuNy0xLDYtOC4xOXE
tNS4wOC01MC45LTEwLTEwMS44Mi0zLjM3LTM0LjQ3LTYuNjktNjguOTVjMy4wNS0xLjM4LDQuMD
YtLjQ1LDQuMzgsMi45NCwzLDMyLjExLDYuMjcsNjQuMTksOS40Miw5Ni4yOXE0LjI1LDQzLjMzL
DguNDMsODYuNjdjMC4wOCwwLjguMTcsMS42LDAuMjQsMi40MSwwLjcxLDguMTcsMi4yMSw2Ljc4
LTYuMzYsOC0zLjI5LjQ3LTQuNDItLjU1LTQuNy0zLjg5QzIxNC4xNSwzNjYuMzUsMjEzLjA2LDM
2MiwyMTIuMjgsMzU3LjY1WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwLjAxKSIvPjxwYXRoIG
NsYXNzPSJjbHMtMSIgZD0iTTQ3OCwzNTguNzhjMS4wNywwLjM3Ljc0LDEuMjcsMC43NiwyQTEuO
DUsMS44NSwwLDAsMSw0NzgsMzU4Ljc4WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwLjAxKSIv
PjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTEyNTQuNDYsNjIuMzdjLTIuMi0zLjM2LTQuMjQtNi4
4NC02LjYzLTEwQzEyMzcuMjgsMzguMTMsMTIyMi45LDMzLDEyMDUuNzEsMzVjLTUuODYuNjktMT
EuNjYsMS44OS0xNy41NywyLjIxLTIuMTIuMTEtMywuNjctMi43NSwzLjE1cTYuOSw2NS4wOSwxM
y42MiwxMzAuMjEsNi42Nyw2My43LDEzLjQ0LDEyNy4zOGwyLjQ2LDIzLjIzYy0zLjIyLDEtNC40
NC0uMjEtNC43OC0zLjU3cS03LjY2LTczLjk1LTE1LjUyLTE0Ny44OC03LjUyLTcxLjUyLTE1LTE
0My4wNWMtMC4xMS0xLjA2LS4wNi0yLjE0LTAuMDktMy4yMWwzOS42Ni00LjI0YzguOTIsMiwxNS
41Niw3LjUsMjEuMTksMTQuMzEsNi41Niw3Ljk0LDEwLjY2LDE3LjIzLDE0LjA2LDI2Ljg0QTYuM
TYsNi4xNiwwLDAsMSwxMjU0LjQ2LDYyLjM3WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwLjAx
KSIvPjxwYXRoIGQ9Ik00NjksNDMwLjI1Yy0xLjc1LDMuMTYtNSw0LjMxLTgsNS42LTE4Ljk0LDg
uMjEtMzYuODYsNi01My43Ny01LjYyLDYuOSwxLjQ1LDEzLjYzLDMuNTksMjAuNzIsNC4zMywxMy
4zNiwxLjM5LDI2LjM5LjM5LDM5LjExLTQuMDhBOC43OCw4Ljc4LDAsMCwxLDQ2OSw0MzAuMjVaI
iB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIDAuMDEpIi8+PHBhdGggZD0iTTQ3MC43OCw0MjkuMjFj
LTAuMzkuNjktLjgzLDEuMzEtMS43NywxLjA4QzQ2OS4xOCw0MjkuMjUsNDcwLjExLDQyOS40NSw
0NzAuNzgsNDI5LjIxWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwLjAxKSIvPjxwYXRoIGQ9Ik
03NTAuNzYsMzc0LjVxLTEyLjMzLDI0LjM4LTM4LjY5LDMxLjVhMTUuMiwxNS4yLDAsMCwxLTYsL
jljMTcuNzEtNi4zNiwzMS44Mi0xNy42Myw0My42OC0zMkE0LjMzLDQuMzMsMCwwLDEsNzUwLjc2
LDM3NC41WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwLjAxKSIvPjxwYXRoIGQ9Ik03NTEuNzc
sMzcyLjYyYTEuOSwxLjksMCwwLDEtMSwyQzc1MC4zNywzNzMuNTUsNzUxLjIxLDM3My4xNiw3NT
EuNzcsMzcyLjYyWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwLjAxKSIvPjwvZz48L2c+PC9zd
mc+') center no-repeat;

$ipacarai-logo: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMiIgZGF0YS1uYW1lPSJMYXllciAyIiB4bWxucz0iaHR0cDovL3d3dy5 3My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW 5rIiB2aWV3Qm94PSIwIDAgODM0IDUwNy43NCI+PGRlZnM+PHN0eWxlPi5jbHMtMSwuY2xzLTJ7ZmlsbDojYzMyYjI5O30uY2xzLTF7ZmlsbC1ydWxlOmV2ZW5vZGQ7fS5jbHMtM3tmaWxsOiNmZmY7 fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5JcGFjYXJhaTM8L3RpdGxlPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTc5My4zLDBDNzkyLjgyLDEuNzMsNzg2LDIxLjk0LDc4MiwyOS44OSw3NzMsNDcuNjQsNzYwLDY1Ljc4LDc2MCw4Mi41MmMwLDIwLjU4LDEzLjUzLDM3LjUsMzMuNjUsMzcuN1M4MjkuN DQsMTAwLjk0LDgyOSw4MS40NWMtMC4zNS0xNS45NC0xNC4yLTM0LjUyLTIyLjU4LTUwLjg1QzgwMi4wNiwyMi4wNyw3OTQsMS43Myw3OTMuMywwWiIvPjxyZWN0IGNsYXNzPSJjbHMtMiIgeD0iMzU 2IiB5PSIyMjcuNCIgd2lkdGg9IjE3MSIgaGVpZ2h0PSIxMjMiLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMCAyNDkuOTEgNzUgMjM2LjA3IDc1IDQ5My44OSAwIDUwNy43NCAwIDI0OS45MSIvPjxwYXRoIGNsYXNzPSJjbHMtMiIgZD0iTTU1LjQ0LDQ3Ny40MWwtMzUuMiw2LjUxVjI2Ni40bDM1LjItNi41MVY0NzcuNDFaIi8+PHBhdGggY2xhc3M9ImNscy0yIiBkPSJNNjIsMjM4LjUzbDcxLTEzLjE1YTg1LDg1LDAsMCwxLDE1LjM2LTEuNTNjMTcuNDgsMCwyNy4yNSw3LjEyLDMyLjU4LDEzLjEsOC45MywxMCwxMywyNS41NiwxMyw0Ny40OXYyMy4xNWMwLDQ1LTIwLDc5LjE3LTU4L Dk5LjU4djc1LjU4TDYyLDQ5Ni4zNVYyMzguNTNaIi8+PHBhdGggY2xhc3M9ImNscy0yIiBkPSJNMTc0LjY2LDMwNy41OHEwLDYyLjQ3LTU5LDg3djcxLjY2bC0zMy45Myw2LjI4VjI1NWw1NC44Ni0xMC4xNXEyMS41Ni00LDI5LjgxLDUuMjd0OC4yNCwzNC4zMXYyMy4xNVpNMTQwLjczLDMwN1YyODUuNjlxMC02LjY4LTEuMjUtOC44NHQtNi41Ny0xLjE3bC0xNy4yMiwzLjE5VjM2MHExNC43Mi03LjE4LDIwLTE5Ljk0UTE0MC43MywzMjksMTQwLjczLDMwN1oiLz48cGF0aCBjbGFzcz0iY2xzLTIiIGQ9Ik0xNzAsMjgxLjhjMC0yMC45MiwzLjM1LTM2Ljc0LDExLjE2LTQ4LjM5LDguNTUtMTIuNzcsMjIuNjgtMjEuMDksNDIuNDQtMjQuNzVsMTYuMzgtM2E4NC42Myw4NC42MywwLDAsMSwxNS4zMy 0xLjUzYzE3LjQ4LDAsMjcuOCw3LjEyLDMzLjEzLDEzLjEsOC45MywxMCwxMy41NywyNS41NiwxMy41Nyw0Ny40OXYxODcuNEwxNzAsNDc2LjUzVjI4MS44WiIvPjxwYXRoIGNsYXNzPSJjbHMtMiIgZD0iTTI4MS41Miw0MzUuNThsLTMzLjkzLDYuMjhWMzcyLjczbC0yNC43Myw0LjU4djY5LjEzbC0zMy45Myw2LjI4VjI4MS44cTAtMjUsOC4yNS0zNy4zNlQyMjcsMjI4LjE0bDE2LjQ5LTMuMDVxMj EuNTYtNCwyOS44MSw1LjI3dDguMjQsMzQuM1Y0MzUuNThabS0zMy45My05Ny40MVYyNjQuNnEwLTguODctNy03LjU5bC0xMC43OCwycS03LDEuMjktNywxMC4xN3Y3My41NloiLz48cGF0aCBjbGFz cz0iY2xzLTIiIGQ9Ik0zNDYuOTIsNDQ3LjQ4Yy0xMC45MiwwLTI3LjE3LTMuNi00Mi4yOC0yMC4 3NEMyOTIuMTMsNDEyLjQ2LDI4NiwzOTIuMTEsMjg2LDM2NC40N1YyNjAuMTVjMC0yMC45MiwzLjg1LTM2Ljc0LDExLjY2LTQ4LjM5LDguNTUtMTIuNzcsMjIuOTQtMjEuMDksNDIuNjktMjQuNzVsMTguMDktMy4zNGE4NS4zNSw4NS4zNSwwLDAsMSwxNS4zOS0xLjUzYzE3LjQ4LDAsMjcuNTQsNy4xMiwzMi44NiwxMy4xLDguOTMsMTAsMTMuMzEsMjUuNTYsMTMuMzEsNDcuNDl2MzcuMUwzNTksMjkxdjE2LjE0TDQyMCwyOTZWMzQ3YzAsMjYuNTItNS43Niw0OC40OC0xNyw2NS4yNi0xMi45MiwxOS 40My0yOC40OCwzMS00Ni4xNiwzNC4yNUE1NC42LDU0LjYsMCwwLDEsMzQ2LjkyLDQ0Ny40OFoiLz48cGF0aCBjbGFzcz0iY2xzLTIiIGQ9Ik00MDAuMTEsMzQ3cTAsMzMuOTMtMTMuNjMsNTQuMjEtMTQuOTEsMjIuNDItMzMuMjksMjUuODItMTguNzEsMy40Ni0zMy42MS0xMy40NC0xMy42NC0xNS4 1NS0xMy42My00OS4xN1YyNjAuMTVxMC0yNSw4LjI0LTM3LjM2VDM0NCwyMDYuNWwxOC4wNy0zLjM1cTIxLjU2LTQsMjkuODEsNS4yN3Q4LjI0LDM0LjMxdjIwLjYxbC0zMy45Myw2LjI4di0yN3EwLTguODctNi42Ni03LjY1bC0xMi42OCwyLjM1cS03LDEuMjktNywxMC4xN1YzNTUuMzRxMCw0MC45MSwxMy4zMiwzOC40NCwxMi4zNy0yLjI5LDEzLTQzLjMxVjMyNi4wNWwzMy45My02LjI4VjM0N1oiLz48cGF0aCBjbGFzcz0iY2xzLTIiIGQ9Ik00MDUsMjM4LjI3YzAtMjAuOTEsMy40OS0zNi43NCwxMS4yOS00OC4zOSw4LjU1LTEyLjc3LDIyLjc1LTIxLjA5LDQyLjUxLTI0Ljc1bDE2LjQxLTNhO DQuODEsODQuODEsMCwwLDEsMTUuMzQtMS41M2MxNy40NywwLDI3LjY3LDcuMTIsMzMsMTMuMDksOC45MywxMCwxMy40NSwyNS41NiwxMy40NSw0Ny41djIyOC40bC03My40NSwxMy42MUw0MDUsNDc 0VjIzOC4yN1oiLz48cGF0aCBjbGFzcz0iY2xzLTIiIGQ9Ik01MTYuNzksMzkybC0zMy45Myw2LjI4VjMyOS4ybC0yNC43Myw0LjU4VjQwMi45bC0zMy45Myw2LjI4VjIzOC4yN3EwLTI1LDguMjQtMzcuMzV0MjkuODEtMTYuM2wxNi40OS0zLjA1cTIxLjU2LTQsMjkuODEsNS4yN3Q4LjI0LDM0LjMxVjM5MlptLTMzLjkzLTk3LjQxVjIyMS4wN3EwLTguODgtNy03LjU5bC0xMC43OCwycS03LDEuMjktNywxMC4xN3Y3My41N1oiLz48cGF0aCBjbGFzcz0iY2xzLTIiIGQ9Ik01MjIsMTUzLjM0bDY5LjY1LTEyLjg1QTg2LjA5LDg2LjA5LDAsMCwxLDYwNy4xMiwxMzljMTcuNDcsMCwyNy44OSw3LjEyL DMzLjIyLDEzLjA5LDguOTMsMTAsMTMuNjcsMjUuNTcsMTMuNjcsNDcuNXYyNS42OGMwLDEyLjM1LTEuNDQsMjIuMDktMy42OCwyOS43OC0xLjI0LDQuNDYtMy42NCw4Ljg3LTUuOTMsMTMuMiw2LjgsOC40OCw5LjYxLDIwLjExLDkuNjEsMTMuNzNWNDI3LjY1TDUyMiw0NTIuMTdWMTUzLjM0WiIvPjxwYXRoIGNsYXNzPSJjbHMtMiIgZD0iTTYzNS4wNiwzNzAuMTdsLTMzLjkzLDYuMjhWMzE0cTAtO C44OC0xLTExLjg3LTEuMjctNC4yLTYuMzQtNi4xMmwtMTcuNzYtNi44NnY5MmwtMzMuOTMsNi4yOFYxNjkuODNMNTk1LjQzLDE2MHEyMS41Ni00LDI5LjgxLDUuMjd0OC4yNCwzNC4zMXYyNS42OHEwLDE1LjU0LTIuNTQsMjQuMjUtMy4xNywxMS4zNy0xMi42OCwyMmw3LjkzLDYuMTRxOC44Nyw2LjkyLDguODgsMjUuMzF2NjcuMjJaTTU5OS41NSwyMjUuMzNWMTk4LjI1cTAtOC45Mi02LjY2LTcuNjlsLTE2LjgxLDMuMTF2NTkuNThsOS44Myw0LjI0YzIuMTEsMC44OSwzLjQ5LDEuMjcsNC4xMiwxLjE1UTU5OS41NSwyNTYuODcsNTk5LjU1LDIyNS4zM1oiLz48cGF0aCBjbGFzcz0iY2xzLTIiIGQ 9Ik02NDEsMTk0LjYyYzAtMjAuOTIsMy40NC0zNi43NCwxMS4yNS00OC4zOSw4LjU1LTEyLjc3LDIyLjczLTIxLjA5LDQyLjQ4LTI0Ljc1bDE2LjQtM2E4NC43OSw4NC43OSwwLDAsMSwxNS4zNC0xLjUzYzE3LjQ3LDAsMjcuNzEsNy4xMiwzMywxMy4wOSw4LjkzLDEwLDEzLjQ5LDI1LjU3LDEzLjQ5LDQ3LjV2MjI4LjRsLTczLjQ1LDEzLjYxTDY0MSw0MzAuMzVWMTk0LjYyWiIvPjxwYXRoIGNsYXNzPSJjbHMtMiIgZD0iTTc1Mi43LDM0OC40bC0zMy45Myw2LjI4VjI4NS41NUw2OTQsMjkwLjEzdjY5LjEzbC0zMy45Myw2LjI4VjE5NC42MnEwLTI1LDguMjQtMzcuMzZUNjk4LjE2LDE0MWwxNi40OS0zLjA1cTIxLjU2LTQsMjkuODEsNS4yN3Q4LjI0LDM0LjMxVjM0OC40Wk03MTguNzcsMjUxVjE3Ny40MnEwLTguODctNy03LjU5bC0xMC43OCwycS03LDEuMjktNywxMC4xN3Y3My41NloiLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iNzYwIDEwOS41MiA4MzQgOTUuNjggODM0IDM5NC 41IDc2MCA0MDguMzUgNzYwIDEwOS41MiIvPjxwYXRoIGNsYXNzPSJjbHMtMiIgZD0iTTgxNC4yMSwzMzdMNzc5LDM0My41M1YxMjZsMzUuMi02LjUxVjMzN1oiLz48cGF0aCBjbGFzcz0iY2xzLTMiIGQ9Ik00Ni42Myw0NzMuNmwtMzUuMiw2LjUxVjI2Mi41OWwzNS4yLTYuNTFWNDczLjZaIi8+PHBhdGggY2xhc3M9ImNscy0zIiBkPSJNMTY1Ljg1LDMwMy43OHEwLDYyLjQ3LTU5LDg3djcxLjY2bC 0zMy45Myw2LjI4VjI1MS4yMWw1NC44Ni0xMC4xNXEyMS41Ni00LDI5LjgxLDUuMjd0OC4yNCwzN C4zdjIzLjE1Wm0tMzMuOTMtLjU3VjI4MS44OHEwLTYuNjgtMS4yNS04Ljg0dC02LjU3LTEuMTdsLTE3LjIyLDMuMTl2ODEuMThxMTQuNzItNy4xOCwyMC0xOS45NFExMzEuOTIsMzI1LjE4LDEzMS4 5MiwzMDMuMjFaIi8+PHBhdGggY2xhc3M9ImNscy0zIiBkPSJNMjcyLjcxLDQzMS43N2wtMzMuOTMsNi4yOFYzNjguOTNsLTI0LjczLDQuNTh2NjkuMTNsLTMzLjkzLDYuMjhWMjc4cTAtMjUsOC4yNS0zNy4zNXQyOS44MS0xNi4zbDE2LjQ5LTMuMDVxMjEuNTYtNCwyOS44MSw1LjI3dDguMjQsMzQuMzFWNDMxLjc3Wm0tMzMuOTMtOTcuNDFWMjYwLjhxMC04Ljg3LTctNy41OWwtMTAuNzgsMnEtNywxLjI5LTcsMTAuMTd2NzMuNTZaIi8+PHBhdGggY2xhc3M9ImNscy0zIiBkPSJNMzkxLjMsMzQzLjI0cTAsMzMuOTQtMTMuNjMsNTQuMjEtMTQuOTEsMjIuNDItMzMuMjksMjUuODItMTguNzEsMy40Ni0zMy42MS0xMy40NC0xMy42NC0xNS41NS0xMy42NC00OS4xNlYyNTYuMzRxMC0yNSw4LjI0LTM3LjM1dDI5LjgxLTE2LjNsMTguMDctMy4zNHEyMS41Ni00LDI5LjgxLDUuMjd0OC4yNCwzNC4zdjIwLjYxbC0zMy45Myw2LjI4di0yN3EwLTguODctNi42Ni03LjY1TDMzOCwyMzMuNTVxLTcsMS4yOS 03LDEwLjE3VjM1MS41NHEwLDQwLjksMTMuMzIsMzguNDQsMTIuMzctMi4yOSwxMy00My4zMVYzMjIuMjVMMzkxLjMsMzE2djI3LjI3WiIvPjxwYXRoIGNsYXNzPSJjbHMtMyIgZD0iTTUwOCwzODguMjRsLTMzLjkzLDYuMjhWMzI1LjM5TDQ0OS4zMywzMzBWMzk5LjFsLTMzLjkzLDYuMjhWMjM0LjQ 2cTAtMjUsOC4yNS0zNy4zNnQyOS44MS0xNi4zbDE2LjQ5LTMuMDVxMjEuNTYtNCwyOS44MSw1LjI3VDUwOCwyMTcuMzNWMzg4LjI0Wm0tMzMuOTMtOTcuNDFWMjE3LjI2cTAtOC44OC03LTcuNTlsLTEwLjc4LDJxLTcsMS4yOS03LDEwLjE3djczLjU2WiIvPjxwYXRoIGNsYXNzPSJjbHMtMyIgZD0iTTYyNi4yNiwzNjYuMzZsLTMzLjkzLDYuMjhWMzEwLjE3cTAtOC44Ny0xLTExLjg3LTEuMjctNC4yLTYuMzQtNi4xMmwtMTcuNzYtNi44NnY5MmwtMzMuOTMsNi4yOFYxNjZsNTMuMjctOS44NnEyMS 41Ni00LDI5LjgxLDUuMjd0OC4yNCwzNC4zMXYyNS42OHEwLDE1LjU0LTIuNTQsMjQuMjUtMy4xNywxMS4zNy0xMi42OCwyMmw3LjkzLDYuMTRxOC44Nyw2LjkyLDguODgsMjUuMzF2NjcuMjNaTTU5MC43NCwyMjEuNTNWMTk0LjQ1cTAtOC45Mi02LjY2LTcuNjlsLTE2LjgxLDMuMTF2NTkuNTdsOS4 4Myw0LjI0cTMuMTcsMS4zMyw0LjEyLDEuMTVRNTkwLjc0LDI1My4wNyw1OTAuNzQsMjIxLjUzWiIvPjxwYXRoIGNsYXNzPSJjbHMtMyIgZD0iTTc0My44OSwzNDQuNTlMNzEwLDM1MC44N1YyODEuNzVsLTI0LjczLDQuNTh2NjkuMTJsLTMzLjkzLDYuMjhWMTkwLjgxcTAtMjUsOC4yNC0zNy4zNnQyOS44MS0xNi4zbDE2LjQ5LTMuMDVxMjEuNTYtNCwyOS44MSw1LjI3dDguMjQsMzQuMzFWMzQ0LjU 5Wk03MTAsMjQ3LjE4VjE3My42MnEwLTguODctNy03LjU5bC0xMC43OCwycS03LDEuMjktNywxMC 4xN3Y3My41NloiLz48cGF0aCBjbGFzcz0iY2xzLTMiIGQ9Ik04MDUuNCwzMzMuMjFsLTM1LjIsNi41MVYxMjIuMmwzNS4yLTYuNTFWMzMzLjIxWiIvPjxwYXRoIGNsYXNzPSJjbHMtMyIgZD0iTTQzNy40MSw0NDkuNzhsLTguOSwxLjY1VjQyNS4yM2w4LjktMS42NWM4LjY0LTEuNiwxNC40NiwyLjExLDE0LjQ2LDEwLjQyUzQ0Niw0NDguMTgsNDM3LjQxLDQ0OS43OFptMC0yMS42My0zLjQ2LjY0dj E3LjA2bDMuNDYtLjY0YzUtLjkyLDguODctNC40OSw4Ljg3LTEwLjE0UzQ0Mi40Myw0MjcuMjIsN DM3LjQ1LDQyOC4xNFoiLz48cGF0aCBjbGFzcz0iY2xzLTMiIGQ9Ik00NjkuNzYsNDE3LjU5djI2LjE5bC01LjQ4LDFWNDE4LjZaIi8+PHBhdGggY2xhc3M9ImNscy0zIiBkPSJNNDgyLjc0LDQzNC4 0MWw1LjU1LTFjMC4xOSwxLjg0LDEuNTIsMi40OSwzLjM5LDIuMTRhMy40NSwzLjQ1LDAsMCwwLDMuMDgtMy4zNGMwLTEuNjgtMS4wNi0yLjQ2LTQuNjgtMy4yNS01LjMxLTEuMTctNy4xOS0zLjI5LTcuMTktNy4xMiwwLTQuMywzLjItNy43LDguMzMtOC42Niw0Ljc2LS44OCw4LjMzLDEuMjIsOC4zMyw1Ljc5TDQ5NCw0MjBjMC0xLjYxLTEuMDctMi41LTIuODUtMi4xN2EzLDMsMCwwLDAtMi43LDIuOWMwLDEuNTcsMS4xLDIuMjgsNC44MywzLjE2LDUuMzMsMS4yNiw3LDMuMyw3LDcsMCw0LjYyLTMuMzUsOC4zNS04LjcxLDkuMzRTNDgzLDQzOC41NSw0ODIuNzQsNDM0LjQxWiIvPjxwYXRoIGNsYXNzPSJjbHMtMyIgZD0iTTUxNy43NSw0MTMuMjVsLTcuMTEsMS4zMlY0MTBsMTkuNzEtMy42NXY0LjU3bC03LjEyLDEuMzJ2MjEuNjNsLTUuNDgsMVY0MTMuMjVaIi8+PHBhdGggY2xhc3M9ImNscy0zIiBkPSJNNTQ4LDQyOS4yN2wtNS40OCwxVjQwNC4wOWw5LjE3LTEuN2M2LjU0LTEuMjEsMTAuNSwyLjEsMTAuNSw3LjIyYTEwLjI5LDEwLjI5LDAsMCwxLTQuOTUsOC43YzIuNjMsMS4xMiw0LjMsMy42Niw0LjY4LDcuNTlsMC4wOCwwLjc3LTUuMzMsMS0wLjA4LS43Yy0wLjQ2LTQuMjItMi45My02LjM4LTYuNjYtNS42OWwtMS45NC4zNnY3LjYzWm0wLTEyLjEyLDMuNTgtLjY2YzMtLjU2LDUuMDYtMi41OCw1LjA2LTUuNzNzLTIuMDUtNC40MS01LjA2LTMuODVsLTMuNTguNjZ2OS41OFoiLz48cG F0aCBjbGFzcz0iY2xzLTMiIGQ9Ik01ODAuNSwzOTcuMDV2MjYuMTlsLTUuNDgsMVYzOTguMDdaIi8+PHBhdGggY2xhc3M9ImNscy0zIiBkPSJNNTk0LjgyLDM5NC40bDkuMjQtMS43MWM2LTEuMTIsOS4zNiwxLjQ4LDkuMzYsNS43NWE3LjQsNy40LDAsMCwxLTMuMzksNi4wOSw1LDUsMCwwLDEsNC4 2LDUuMWMwLDQuNzUtMyw3Ljg2LTEwLjA4LDkuMTdsLTkuNzQsMS44MVYzOTQuNFptOS4wNSwyLjgxLTMuNTguNjZ2Ni42MmwzLjU4LS42NmMzLS41NSw0LjA3LTIsNC4wNy00LjA4UzYwNi44NCwzOTYuNjYsNjAzLjg3LDM5Ny4yMVpNNjAwLjI5LDQwOXY2LjFsNC43Mi0uODdjMi44OS0uNTQsNC0xLjg2LDQtMy43NnMtMS4wNy0yLjg3LTQtMi4zNFoiLz48cGF0aCBjbGFzcz0iY2xzLTMiIGQ9Ik0 2MjYuNjcsNDAzLjYxVjM4OC40OWw1LjQ4LTF2MTUuNDZjMCw0LjYsMi43NCw2LDUuNzEsNS40OXM1LjcxLTMsNS43MS03LjYxVjM4NS4zNmw1LjQ4LTF2MTUuMTJjMCw3LjkzLTUuMSwxMi40Ny0xMS4xOSwxMy42UzYyNi42Nyw0MTEuNTQsNjI2LjY3LDQwMy42MVoiLz48cGF0aCBjbGFzcz0iY2xzLTMiIGQ9Ik02NjguODMsMzgwLjY4djI2LjE5bC01LjQ4LDFWMzgxLjY5WiIvPjxwYXRoIGNsYXNzPSJjbHMtMyIgZD0iTTY5Miw0MDIuNTdsLTguOSwxLjY1VjM3OGw4LjktMS42NWM4LjY0LTEuNiwxNC40NiwyLjExLDE0LjQ2LDEwLjQyUzcwMC42OCw0MDEsNjkyLDQwMi41N1ptMC0yMS42NC0zLjQ2LjY0djE3LjA2bDMuNDYtLjY0YzUtLjkyLDguODYtNC40OSw4Ljg2LTEwLjE0UzY5Ny4wNywzODAsNjkyLjA5LDM4MC45M1oiLz48cGF0aCBjbGFzcz0iY2xzLTMiIGQ9Ik03MzEuMDksMzY4LjY 4YzgtMS40OCwxNC4yNywzLDE0LjI3LDEwLjlzLTYuMjgsMTQuNzEtMTQuMjcsMTYuMTktMTQuMj ctMy0xNC4yNy0xMC45UzcyMy4xLDM3MC4xNiw3MzEuMDksMzY4LjY4Wm0wLDIyLjQ1YTEwLjc3L DEwLjc3LDAsMCwwLDguNzEtMTAuNTJjMC01LjI4LTMuODgtOC4xOS04LjcxLTcuMjlhMTAuNzYsMTAuNzYsMCwwLDAtOC43MSwxMC41MkM3MjIuMzgsMzg5LjEyLDcyNi4yNiwzOTIsNzMxLjA5LDM 5MS4xNFoiLz48cGF0aCBjbGFzcz0iY2xzLTMiIGQ9Ik03NjMuMDYsMzg5LjRsLTUuNDgsMVYzNjQuMjJsOS4xNy0xLjdjNi41NC0xLjIxLDEwLjUsMi4wOSwxMC41LDcuMjJhMTAuMjksMTAuMjksM CwwLDEtNC45NSw4LjdjMi42MywxLjEyLDQuMywzLjY2LDQuNjgsNy41OWwwLjA4LDAuNzctNS4zMywxLTAuMDgtLjdjLTAuNDYtNC4yMi0yLjkzLTYuMzgtNi42Ni01LjY5bC0xLjk0LjM2djcuNjN abTAtMTIuMTIsMy41OC0uNjZjMy0uNTYsNS4wNi0yLjU4LDUuMDYtNS43M3MtMi4wNS00LjQxLTUuMDYtMy44NWwtMy41OC42NnY5LjU4WiIvPjxwYXRoIGNsYXNzPSJjbHMtMyIgZD0iTTgwNS41MywzNzcuNjNMNzk0LDM3OS43NmwtMS41Miw0LjE3TDc4Ni44MSwzODVsMTAuNzctMjguMTlMODAyLDM1NmwxMC43NywyNC4yLTUuNzEsMS4wNlptLTkuNzQtMi42OCw4LTEuNDgtNC05LjQ0WiIvPjxpbWFnZSB3aWR0aD0iMzYiIGhlaWdodD0iNjEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDc3NCAzMS 40KSIgeGxpbms6aHJlZj0iZGF0YTppbWFnZS9wbmc7YmFzZTY0LGlWQk9SdzBLR2dvQUFBQU5TVWhFVWdBQUFDUUFBQUE5Q0FZQUFBREYyY3ZMQUFBQUNYQklXWE1BQUFzU0FBQUxFZ0hTM1g3OEFBQUE4RWxFUVZSb1ErM1dTd3JETUF4RjBleC8weTRxdERpdHlaVi84a3Z3QmMwVStVQW5QVkpLeDR CSmpoM1g0SUpqUHRHZWEzREJNWG0waTRNTGpzbWpYUnhjZ0NsRjMyd1FmVE1OZEJWOSszeVFKN3 F4UVJiZEdRS3FpVzZGZ3l5NjF3VnFpVzQrQjlRVDNRNEhXWFMvQ2pRaWVpTWNaTkU3THRESTZLMXdrTlVGbWxFemFHWnlJS3NLRkpFY3lIS0JJcE1EV2ZjQ3JVZ09aTjBEdERJNWtIVUNLU1FIc2pSQlNzbUJwSDZ1ZDJvZ3VaOU1FNlNFMmlCcWd5Z3BrUGIvb2RXZ3J5TUhyVUtkREwrZ0ZTZ3AwTi8 3SlZBVXF2ajJiVUF6WVpkdkVtZzBqTjV4ZzNwUmRMc0pWQXVqTzhWNUFkWmM1Y0E2Q2NYa0FBQU FBRWxGVGtTdVFtQ0MiLz48L3N2Zz4=") center no-repeat;